@import './vars.scss';

//Menu with links
.menu {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: -10;
  opacity: 0;
  transition: all 0.4s ease;

  //Menu overlay
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;

    z-index: 300;
  }

  //Menu list
  ul {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    z-index: 400;
    @include mq('to', 992) {
      right: 20px;
    }

    //List item
    li {
      list-style: none;
      margin-top: 20px;
      text-align: right;

      &:first-child {
        margin-top: 0;
      }

      //Links
      a {
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        position: relative;
        font-size: 20px;

        &::after,
        &::before {
          position: absolute;
          content: '';
          width: 0;
          height: 2px;
          background-color: $white;
          bottom: -3px;
          transition: $transition;
          border-radius: 20px;
        }

        &::after {
          right: 0;
        }

        &::before {
          left: 0;
        }

        @media (hover: hover) {
          &:hover {
            &::after,
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
//Hide menu class
.hide-menu {
  z-index: 100;
  opacity: 1;
}
