@import './vars.scss';
//Retouch section
.retouch {
  p {
    margin-bottom: 80px;
  }
  //Videos wrapper
  &__videos-wrapper {
    display: flex;
    gap: 20px;
    @include mq('to', 767) {
      flex-direction: column;
    }
  }

  //Specific video
  &__video {
    width: 100%;
    height: 0;
    position: relative;
    transition: $transition;
    margin-bottom: 0;

    video {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }

  //Show videos class
  &__show-videos {
    height: 500px;
    transition: $transition;
    margin-bottom: 50px;
  }

  //Show/hide videos btn
  &__video-toggle-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  //Cover in magazines

  &__covers {
    overflow-x: scroll;
    max-height: 600px;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    gap: 40px;

    @include mq('to', 767) {
      gap: 20px;
    }
  }

  &__cover {
    height: 600px;
    width: 480px;
    padding-bottom: 30px;
    @include mq('to', 1024) {
      height: 500px;
      width: 380px;
    }
    @include mq('to', 767) {
      height: 380px;
      width: 280px;
    }

    img {
      width: 480px;
      height: 100%;
      border-radius: $border-radius;
      @include mq('to', 1024) {
        width: 380px;
      }
      @include mq('to', 767) {
        width: 280px;
      }
    }
  }

  //Gallery

  &__gallery {
    width: 100%;
    margin-top: 80px;
    border-radius: $border-radius;
    a {
      width: 100%;
      height: 600px;
      border-radius: $border-radius;

      @include mq('to', 1024) {
        height: 450px;
      }
      @include mq('to', 767) {
        height: 290px;
      }

      img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        border-radius: $border-radius;
        @include mq('to', 1024) {
          height: 290px;
        }
      }
    }
  }

  //Section with images below videos
  &__images {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
      margin-bottom: 30px;
    }
  }

  //General styles for background images
  &__card {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      transition: $transition;
    }
    &--before-img {
      opacity: 0;
    }
    @media (hover: hover) {
      &:hover {
        .retouch__card-controls {
          bottom: 0;
        }
      }
    }
  }

  //Portrait images
  &__images-portraits {
    display: flex;
    width: 100%;
    height: 800px;
    gap: 20px;
    @include mq('to', 1024) {
      height: 1300px;
      width: 70%;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }
    @include mq('to', 767) {
      width: 100%;
      height: 900px;
    }
  }
  &__portrait-image {
    width: 50%;
    @include mq('to', 1024) {
      width: 100%;
    }
  }

  //Landscape images
  &__landscape-images {
    display: flex;
    gap: 20px;
    height: 470px;
    width: 100%;
    @include mq('to', 1024) {
      height: 1300px;
      width: 100%;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }
    @include mq('to', 767) {
      width: 100%;
      height: 600px;
    }

    &--single {
      width: 100%;
      justify-content: center;
      img {
        display: flex;
        justify-content: center;
        width: 100%;
      }
      @include mq('to', 1024) {
        height: 640px;
      }
      @include mq('to', 767) {
        width: 100%;
        height: 290px;
      }
    }
  }

  &__landscape-image {
    display: flex;
    position: relative;
    width: 50%;
    gap: 20px;
    img {
      object-fit: cover;
    }
    @include mq('to', 1024) {
      width: 100%;
    }
  }

  //Card controls
  &__card-controls {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -82px;
    width: 100%;
    transition: $transition;
    @include mq('to', 767) {
      padding: 20px 10px;
    }
    button {
      background-color: transparent;
      transition: $transition;

      @media (hover: hover) {
        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
        }
      }
      &::before,
      &::after {
        display: none;
      }
    }

    h4 {
      color: $white;
      @include mq('to', 767) {
        font-size: 20px;
      }
    }
    .retouch__img-toggler {
      min-width: 150px;
    }
  }

  &__card-controls-show {
    bottom: 0;
  }

  //Mobile toggler
  &__card-controls-toggler-mobile {
    position: absolute;
    top: -40px;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.2) !important;
    background-color: rebeccapurple;
    color: $white;
    cursor: pointer;
    outline: none !important;
    box-shadow: none;
    border: none;
    padding: 0 15px;
    border-radius: 20px 20px 0 0;
    height: 40px;
    display: none;
    @include mq('to', 1024) {
      display: block;
    }
    i {
      font-size: 18px;
      display: block;
      transition: $transition;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }
  &__card-controls-toggler-mobile-open {
    i {
      transform: scaleY(-1);
    }
  }
}
